<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Movie Tracks</a>
            </div>
            <div class="nav me-auto">
                <a href="/movies" class="nav-link navbar-text">Movies</a>
            </div>
        </div>
    </nav>
</header>